<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Nombre' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Numero de telefono' %>
    <%= form.number_field :phone, class: 'form-control', placeholder: '12345678' %>
  </div>

  <div class="form-group">
    <%= form.label 'Fecha de nacimiento' %>
    <%= form.date_select :birthday, :order => [:day, :month, :year], :start_year => 1970, :end_year => Time.now.year - 18, class: 'custom-control-input' %>
  </div>

  <div class="form-group">
    <%= form.label 'Numero de NIT' %>
    <%= form.text_field :nit, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Domicilio fiscal' %>
    <%= form.text_field :tax_residence, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Nombre o razon social' %>
    <%= form.text_field :business_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Direccion de entrega' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'instrucciones para la entrega' %>
    <%= form.text_area :delivery_instructions, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Nombre del contacto 1 para entrega' %>
    <%= form.text_field :contact_name1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Numero de telefono del contacto 1 para entrega' %>
    <%= form.number_field :contact_phone1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Nombre del contacto 2 para entrega' %>
    <%= form.text_field :contact_name2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Numero de telefono del contacto 1 para entrega' %>
    <%= form.number_field :contact_phone2, class: 'form-control' %>
  </div>

  <div class="actions top-space">
    <%= form.submit 'Guardar', class: 'btn purple white-text btn-block' %>
  </div>
<% end %>
