<%= form_with(model: pre_order, local: true) do |form| %>
  <% if pre_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pre_order.errors.count, "error") %> prohibited this pre_order from being saved:</h2>

      <ul>
        <% pre_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tracking_id %>
    <%= form.text_field :tracking_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
